.am{
    &__footer{
        width: 100%;
        height: 5vh;
        position: relative;
        top: 0px;
        border-top: 1px solid gold;
        background: white;
        text-align: center;
        margin-top: 0px;
        &--content{
            color: purple;
            display: block;
            padding-top: 7px;
        }
    }
}