.am {
<<<<<<< HEAD
  &-links{
    width: 100%;
    height: 250px; 
    display: flex;
    flex-direction: row;
    background: #7d4479;
    align-items: center;
    border-top: 2px solid #5b5b58;
    border-bottom: 2px solid #5b5b58;
  }
  &-img{
    width: 12%;
    height: auto;
    > img{
      width: 100%;
      height: auto;
    } 
  }
  &-list {
    width: 88%;
    position: relative;
    bottom: 0vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    background: #7d4479;
    &__item {
      width: 25%;
      font-size: 16px;
      height: auto;
      list-style: none;
      margin-right: 30px;
      cursor: pointer;
      &:first-child {
        margin-left: 20px;
      }
      &-description {
        width: 100%;
        background: #7d4479;
        text-align: justify;
      }
    }
  }
}
.is-active {
  background: green;
}
=======
  &-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &__item {
      font-size: 24px;
      list-style: none;
      cursor: pointer;
    }
  }
}
.is-active{
    background: green;
}
>>>>>>> a191a7096c84220dc326efdc3ec3f533743145f5
