.header{
    width: 100%;
    height: 60px;
    padding: 20px;
    background: rgb(253, 182, 182);
    border: 1px solid white;
}

.list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    &__item{
        cursor: pointer;
        &--name{
            margin-left: 80%;
            width: auto;
        }
        &--exit{
            cursor: pointer;
        }
    }
}

.navmenu{
    width: 100vw;
    height: 30px;
    border-bottom: 1px solid white;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 5px 0;
        font-size: 14px;
    }
}

.item-navMenu{
    list-style: none;
    margin: 0 30px;

}