.header{
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid gold;
    color: purple;
}

.list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    &__item{
        cursor: pointer;
        color: purple;
        &--name{
            margin-left: 80%;
            width: auto;
        }
        &--exit{
            cursor: pointer;
        }
    }
}

.navmenu{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid gold;
    color: purple;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 5px 0;
        font-size: 14px;
    }
}

.item-navMenu{
    list-style: none;
    margin: 0 30px;
}